.button-burger {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#button-burger");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  width: 67px;
  height: 50px;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.button-burger:hover {
  opacity: 0.6;
}

.button-burger:focus-visible {
  opacity: 0.6;
}

.button-burger:active {
  background-image: url("../../icons/stack.svg#button-close");
}
