.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $light-color-text;
  background-color: $accent-color;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
