// .catalog {

// }

// .catalog__wrapper {

// }

.catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $title-color;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1440px;
  }
}

// .catalog__item {

// }
