.example {
  background-color: $example-background-color;

  @media (min-width: $tablet-width) {
    background: linear-gradient(#ffffff 57%, #eaeaea 57%);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background: linear-gradient(#ffffff 31%, #eaeaea 31%);
  }
}

.example__wrapper {
  margin: 0 20px;
  padding: 25px 0 40px;
  display: grid;
  grid-template-areas:
    "title"
    "text"
    "stats"
    "cost"
    "picture";
  gap: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding: 43px 0 101px;
    grid-template-areas:
      "title   title"
      "text    text"
      "stats   cost"
      "picture picture";
    gap: 55px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    padding: 69px 0 75px;
    grid-template-areas:
      "title picture"
      "text  picture"
      "stats picture"
      "cost  picture";
  }
}

.example__title {
  grid-area: title;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 100;
  color: $dark-color-text;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 91px;
  }
}

.example__text {
  grid-area: text;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 14px;
    max-width: 436px;
  }
}

.example__statistic {
  grid-area: stats;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.example__cost {
  grid-area: cost;
  font-family: $secondary-font;
  line-height: 20px;
  color: $dark-color-text;
  text-transform: uppercase;
  margin: 0;
  justify-content: center;
  display: grid;
  gap: 2px;
  grid-template-columns: auto auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: end;
    margin-top: 12px;
    justify-self: end;
    grid-template-columns: auto;
    grid-template-rows: 20px;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
    grid-template-columns: auto auto;
    gap: 67px;
    margin-top: 0;
  }
}

.example__cost p {
  margin: 0;
}

.example__picture {
  grid-area: picture;
  display: grid;
  grid-template-columns: 120px 20px 20px 120px;
  grid-template-rows: auto;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 260px 20px 20px 260px;
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
  }
}

.example__cat--before {
  grid-column: 1 / 3;
  grid-row: 1 / -1;
  overflow: hidden;
}

.example__cat--after {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
  direction: rtl;
  overflow: hidden;
}
