.hero {
  font-family: $secondary-font;

  @media (max-width: $mobile-width-only) {
    background-image: linear-gradient(rgba($accent-color, 0.85) 63%, $light-color-text 6%), image-set(url("../../images/index-background-mobile@2x.jpg") type("image/jpeg") 2x, url("../../images/index-background-mobile@1x.jpg") type("image/jpeg") 1x), linear-gradient(to right, #515156 50%, #424146 50%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain, 320px 302px, contain;
    color: $light-color-text;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  @media (max-width: $mobile-width-only) {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    display: grid;
    row-gap: 21px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 90px 1fr 200px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    padding: 29px 0 52px;
    display: grid;
    row-gap: 40px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 80px 367px auto;
    align-content: center;
  }
}

.hero__wrapper::after {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    background-image: linear-gradient(rgba($accent-color, 0.85) 50%, rgba($accent-color, 0.85) 50%), image-set(url("../../images/index-background-desktop@2x.jpg") type("image/jpeg") 2x, url("../../images/index-background-desktop@1x.jpg") type("image/jpeg") 1x), linear-gradient(to right, #515156 50%, #424146 50%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 694px;
    z-index: -1;
  }
}

.hero__wrapper picture {
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 5;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / -1;
    grid-column: -2 / -1;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 100;
  margin: 0;
  padding: 27px 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: $dark-color-text;
    padding: 65px 0 19px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    padding: 0;
    padding-top: 81px;
    width: 416px;
  }
}

.hero__slogan {
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $dark-color-text;
    padding: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    padding-bottom: 12px;
  }
}

.hero__button {
  @media (min-width: $tablet-width) {
    margin-top: 29px;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-size: 20px;
    line-height: 26px;
    justify-self: start;
    width: auto;
    max-width: 344px;
    padding: 14px 27px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin: 0;
    align-self: flex-start;
  }
}
