.logo {
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo:focus-visible {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

// .logo__image {

// }

// .logo__image--icon {

// }

// .logo__image--text {

// }
