// .main-nav {

// }

.main-header--closed .main-nav__toggle {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#button-burger");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  cursor: pointer;
  border: none;
}

@media (max-width: $mobile-width-only) {
  .main-header--closed .main-nav__wrapper {
    display: none;
  }

  .main-header--opened .main-nav__toggle {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#button-close");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-color: #ffffff;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border: none;
  }

  .main-header--opened .main-nav__item {
    border-bottom: solid 1px #e6e6e6;
  }

  .main-header--opened .main-nav__wrapper {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $light-color-text;
    border-top: solid 1px #e6e6e6;
  }

  .main-header--nojs {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    justify-items: center;
  }

  .main-header--nojs .main-nav__toggle {
    display: none;
  }

  .main-header--nojs .main-header__logo:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .main-header--nojs .main-header__logo:nth-child(2) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .main-header--nojs .main-nav {
    display: block;
    grid-column: 1 / -1;
    width: 100%;
  }

  .main-header--nojs .main-nav__item {
    border-bottom: solid 1px #e6e6e6;
  }
}

@media (min-width: $tablet-width) {
  .main-nav .main-nav__toggle {
    display: none;
  }
}

// .main-nav__wrapper {
//   @media (min-width: $desktop-width) {
//     justify-self: end;
//   }
// }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    max-width: 520px;
    gap: 34px;
    padding-right: 5px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding-right: 1px;
  }
}

.main-nav__item {
  font-family: $secondary-font;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  @media (max-width: $mobile-width-only) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 22px;
    padding-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 13px;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $dark-color-text;

  @media (min-width: $desktop-width) {
    color: $light-color-text;
  }
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:focus-visible {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.4;
}

.main-nav__link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 2px solid $accent-color;
    bottom: 4px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $light-color-text;
    bottom: 5px;
  }
}

.main-header--catalog .main-nav__link {
  @media (min-width: $desktop-width) {
    color: $dark-color-text;
  }
}

.main-header--catalog .main-nav__link--current::after {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $accent-color;
  }
}
