.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 14px 14px 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px 0;
    display: grid;
    gap: 13px;
    grid-template-columns: auto auto 1fr;
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 55px;
    margin: 0 110px;
  }
}

.main-header--catalog {
  @media (max-width: $mobile-width-only) {
    border-bottom: solid 1px #d9d9d9;
  }
}

.main-header--catalog .logo__image--text img {
  @media (max-width: $mobile-width-only) {
    margin-top: 5px;
  }
}

// .main-header__logo {
//   height: 38px;

//   @media (min-width: $tablet-width) {
//     height: 50px;
//   }

//   @media (min-width: $desktop-width) {
//     height: 59px;
//   }
// }
