// .main-nav {

// }

// .main-nav__toggle {

// }

// .main-nav__wrapper {

// }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 436px;
  }
}

.main-nav__item {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $dark-color-text;
  text-transform: uppercase;
}

// .main-nav__item--current {

// }

.main-nav__link {
  text-decoration: none;
}
