// .more-products {

// }

.more-products::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#icon-plus");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.more-products__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $lighter-title-color;
  text-transform: uppercase;
}

.more-products__subtitle {
  font-size: 12px;
  line-height: 16px;
}

.more-products__button {
  color: $base-color-text;
  background-color: $darkened-background-color;
}
