.option {
  background-color: $darkened-background-color;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 70px 1fr;
    row-gap: 14px;
    padding: 21px 20px 18px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 268px;
    gap: 24px 19px;
    padding: 75px 29px 57px 53px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 1fr;
    gap: 23px 0;
    padding: 41px 52px 61px;
  }
}

.option--slim::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 53px;

  @media (max-width: $mobile-width-only) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    grid-column: -2 / -1;
    grid-row: 1 / -1;
    margin-top: -23px;
    width: 200px;
    height: 211px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: -3px;
    margin-bottom: 16px;
    width: 100px;
    height: 106px;
    justify-self: start;
  }
}

.option--pro::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#cat-pro");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 67px;
  height: 50px;

  @media (max-width: $mobile-width-only) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    grid-column: -2 / -1;
    grid-row: 1 / -1;
    margin-right: 4px;
    margin-top: -2px;
    width: 268px;
    height: 200px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 16px;
    width: 134px;
    height: 100px;
    justify-self: start;
  }
}

.option--pro {
  @media (max-width: $mobile-width-only) {
    grid-template-columns: 7px 70px 1fr;
    // grid-template-rows: 50px auto auto;
    padding: 24px 20px 17px 13px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 19px 162px 1fr;
    padding: 47px 52px 57px 33px;
  }
}

@media (max-width: $mobile-width-only) or (min-width: $desktop-width) {
  .option--pro .option__title {
    grid-column: -2 / -1;
    grid-row: 1 / 2;
    margin-top: -3px;
  }

  .option--pro .option__description {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
  }

  .option--pro .option__catalog-link {
    grid-column: 2 / -1;
    grid-row: -2 / -1;
    margin-top: 1px;
  }
}

.option__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  color: $dark-color-text;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    font-weight: 100;
    margin-top: -6px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 100;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding-bottom: 15px;
  }
}

.option--pro .option__title {
  @media (max-width: $mobile-width-only) {
    margin-top: -10px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 22px;
    margin: 0;
  }
}

.option__description {
  margin: 0;
  padding-bottom: 23px;

  @media (max-width: $mobile-width-only) {
    border-bottom: solid 1px #d9d9d9;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding-bottom: 3px;
  }
}

.option__catalog-link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $dark-color-text;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  gap: 15px;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    grid-column: 1 / -1;
    grid-row: -2 / -1;
    width: 60%;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
    gap: 25px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: -2 / -1;
    margin-top: 1px;
    width: 40%;
  }
}

.option__catalog-link::after {
  content: "";
  display: block;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 24px;
  height: 12px;
  background-color: #000000;
  transform-origin: left center;

  @media (max-width: $mobile-width-only) {
    padding: 6px 0;
  }
}

.option__catalog-link:hover::after {
  transform: scaleX(1.35);
}

.option__catalog-link:focus-visible::after {
  transform: scaleX(1.35);
}

.option__catalog-link:active {
  opacity: 0.3;
}
