// .options {

// }

.options__list {
  padding: 0;
  list-style: none;
  display: grid;

  @media (max-width: $mobile-width-only) {
    margin: 0 20px;
    padding-bottom: 20px;
    gap: 20px;
  }

  @media (min-width: $tablet-width) {
    gap: 30px;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin: 0 110px;
    padding-top: 80px;
    max-width: 1440px;
  }
}

.options__item {
  padding: 0 20px 18px;

  @media (min-width: $tablet-width) {
    padding: 0 316px 53px 52px;
  }
}
