.product-card {
  display: grid;
  grid-template:
    "image title ."
    "image properties properties"
    "button button button";
  grid-template-columns: 50% 30% 20%;
  row-gap: 14px;


  @media (min-width: $tablet-width) {
    grid-template:
      "image"
      "title"
      "properties"
      "button";
    grid-template-rows: auto 1fr;
    justify-items: center;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 7px;
  }
}

.product-card__image {
  grid-area: image;
  justify-self: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 1px;
  }
}

.product-card__image img {
  display: block;
}

.product-card__link {
  text-decoration: none;
}

.product-card__link:active {
  opacity: 0.3;
}

.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $lighter-title-color;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
  grid-area: title;

  @media (max-width: $mobile-width-only) {
    margin-top: 1px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 155px;
    text-align: center;
    padding: 5px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0;
  }
}

.product-card__title--additional {
  grid-area: title-add;
  margin: 0;
  // margin-bottom: 2px;

  @media (max-width: $mobile-width-only) {
    line-height: 16px;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 0;
    width: max-content;
  }
}

.product-card__properties {
  font-size: 12px;
  line-height: 16px;
  grid-area: properties;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-bottom: 4px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    justify-content: space-between;
    // align-items: center;
    grid-template-rows: repeat(3, 32px);
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    padding-bottom: 19px;
    grid-template-rows: repeat(3, 33px);
  }
}

.product-card__properties dd {
  margin: 0;
  text-align: end;

  @media (min-width: $desktop-width) {
    text-align: end;
  }
}

.product-card__properties dt,
.product-card__properties dd {
  @media (min-width: $tablet-width) {
    border-bottom: solid 1px #cdcdcd;
    margin-bottom: 5px;
  }
}

.product-card__properties.product-card__properties--additional {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    grid-template-rows: auto;
    grid-template-columns: auto 91px;
    justify-content: end;
    align-items: center;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    // justify-content: start;
    grid-template-columns: 85% 15%;
  }
}

.product-card__properties--additional {
  grid-area: properties-add;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 1px;
    line-height: 14px;
  }

  @media (min-width: $tablet-width) {
    // text-align: right;
    // align-content: center;
  }
}

.product-card__properties--additional dt,
.product-card__properties--additional dd {
  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
    text-align: start;
  }
}

.product-card__button {
  margin-top: 3px;
  grid-area: button;
}
