.subscribe {
  display: grid;
  gap: 24px;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
  }
}

.subscribe__description {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $dark-color-text;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__form {
  display: grid;
  gap: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    gap: 0;
  }
}

.subscribe__form input {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  padding: 0 12px;
  border: solid 1px #e7e7e7;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  color: $base-color-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    min-width: 376px;
    padding: 0 13px;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    min-width: 496px;
  }
}

.subscribe__form input[type="email"]:invalid:placeholder-shown {
  border: solid 1px #e7e7e7;
}

.subscribe__form input[type="email"]:hover:placeholder-shown {
  border-color: #cdcdcd;
}

.subscribe__form input[type="email"]:focus-visible:placeholder-shown {
  outline: none;
  padding: 0 10px;
  border: solid 2px #444444;
}

.subscribe__form input[type="email"]:invalid {
  outline: none;
  padding: 0 11px;
  border: solid 2px #ff8282;
}

.subscribe__button {
  font-size: 20px;
  line-height: 26px;
  border: none;
  width: 100%;
  padding: 15px 70px;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: 356px;
  }
}
